@using Microsoft.AspNetCore.Identity
@using Resturant_RES_MVC_ITI_PRJ.Models
@inject SignInManager<AppUser> SignInManager
<div class="position-absolute exlogin m-auto w-100">
    <section>
        @{
            var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (!providers.Any())
            {
                <div>
                    <p>
                        We couldn't find any external provider
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="w-100">
                        <br />
                        @foreach (var provider in providers)
                        {
                            <input id="provider_@provider.Name" title="Login Using @provider.Name" value="@provider.Name" name="provider" type="submit" class="btn btn-primary">
                        <br/><br />
                        }
                    </div>
                </form>
            }
        }
    </section>
</div>