@using Microsoft.AspNetCore.Identity
@using Resturant_RES_MVC_ITI_PRJ.Models
@inject SignInManager<AppUser> SignInManager
<div class="position-absolute exlogin m-auto w-100">
    <section>
        @{
            var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (!providers.Any())
            {
                <div>
                    <p>
                        We couldn't find any external provider
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="w-100">

                            @foreach (var provider in providers)
                            {
                                <label for="provider" class="bg-transparent rememberMe m-auto">
                                    <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Google Login">
                                </label>
                                <input id="provider" value="@provider.Name" name="provider" type="submit" class="d-none">
                            }

                    </div>
                </form>
            }
        }
    </section>
</div>