<h1>ConfirmEmail</h1>
<div>
    <p>
        Thank you for confirming your email Please Login Again.
    </p>
    <li class="nav-item">
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login" >Login</a>
    </li>
</div>