@{
    Layout = "_ClientLayout";
}
@model Resturant_RES_MVC_ITI_PRJ.Models.ForgotPasswordModel
<style>
    body {
        background-color: #eee;
        min-height: 100%;
    }


    .resetForm {
        height: 80vh;
        margin-top: 100px;
        position:relative;
        top:100px
    }

    
</style>
<div class="resetForm">
    <div class="card text-center shadow-sm animate__animated animate__zoomIn" style="width: 400px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form asp-action="ForgotPassword">
                <div class="form-outline">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control  my-3" placeholder="email address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input name="recover-submit" class="btn btn-primary w-100" value="Reset Password" type="submit">
            </form>
         
            <div class="d-flex justify-content-between mt-4">
                <a class="" asp-action="Login" asp-controller="Account">Login</a>
                <a class="" asp-action="Register" asp-controller="Account">Register</a>
            </div>
        </div>
    </div>

</div>

<div c


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}