@{
    Layout = "_ClientLayout";
}

<style>
    body {
        background-color: #eee;
    }

    .cardContainer {
        height: 90vh;
    }

    .Mycard {
        background-color: #fff;
        position: relative;
        top: 200px;
    }

    .fa-circle-check {
        font-size: 70px;
    }
</style>

<div class="cardContainer animate__animated animate__zoomIn">
    <div class=" Mycard w-50 m-auto shadow-sm p-5 h-50 d-flex align-items-center justify-content-evenly flex-column">
        <p class="fw-bold text-success">
            <i class="fa-regular fa-circle-check"></i>
        </p>
        <h4>Password Changer</h4>
        <a asp-action="Login" asp-controller="Account" asp-area="" class="btn btn-secondary my-2">Login</a>
    </div>
</div>
