
@{
    Layout = "_ClientLayout";
}
@model Resturant_RES_MVC_ITI_PRJ.Models.ResetPasswordModel


<style>
    body {
        background-color: #eee;
    }

    .cardContainer {
        height: 90vh;
    }

    .Mycard {
        background-color: #fff;
        position: relative;
        top: 200px;
    }
</style>



<div class="w-100 cardContainer">



    <div class="col-md-4 container m-auto Mycard  p-5 shadow-sm animate__animated animate__zoomIn">
        <h1 class="text-center text-danger my-2" >Reset Password</h1>

        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group my-4">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>