@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.DishIngredientRel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DishIngredientRel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DishIngredientRelId" />
            <div class="form-group">
                <label asp-for="DishId" class="control-label"></label>
                <select asp-for="DishId" class="form-control" asp-items="ViewBag.DishList"></select>
                <span asp-validation-for="DishId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngerdientId" class="control-label"></label>
                <select asp-for="IngerdientId" class="form-control" asp-items="ViewBag.IngerdientList"></select>
                <span asp-validation-for="IngerdientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
