@{
    Layout = "_Layout";
}
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Management" asp-controller="EmployeesCategories" asp-action="Index">EmployeesCategories</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Management" asp-controller="Franchise" asp-action="Index">Franchise</a>
</li>
