<form method="post
" action="/Payment/CreateCheckoutSession">
	
	<div>
		<label
		for="name">Amount:</label>
		<input type="text"
			   id="amount" name="amount"
			   value="" />
	</div>
	
	<button type="submit">
		Checkout
	</button>
</form>