@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Dish

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DishPrice" class="control-label"></label>
                <input asp-for="DishPrice" class="form-control" />
                <span asp-validation-for="DishPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishImageName" class="control-label"></label>
                <input asp-for="DishImageName" class="form-control" />
                <span asp-validation-for="DishImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishCategoryId" class="control-label"></label>
                <select asp-for="DishCategoryId" class="form-control" asp-items="ViewBag.CategoryList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
