@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Dish

@{
    ViewData["Title"] = "Edit";
}

<div id="kt_app_toolbar_container" class="app-container container p-3 d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Edit Dish</h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Edit Dish</li>
        </ul>
    </div>
</div>

<div id="kt_app_content" class="app-content container m-auto w-75 m-5 p-5">
    <div class="">
        <div class="">
            <form asp-action="Edit" class="w-100">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DishId" />
                <div class="form-group">
                    <label asp-for="DishName" class="control-label"></label>
                    <input asp-for="DishName" class="form-control" />
                    <span asp-validation-for="DishName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DishPrice" class="control-label"></label>
                    <input asp-for="DishPrice" class="form-control" />
                    <span asp-validation-for="DishPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DishImageName" class="control-label"></label>
                    <input asp-for="DishImageName" class="form-control" />
                    <span asp-validation-for="DishImageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DishCategoryId" class="control-label"></label>
                    <select asp-for="DishCategoryId" class="form-control" asp-items="ViewBag.CategoryList"></select>
                    <span asp-validation-for="DishCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group my-5">
                    <input type="submit" value="Save" class="btn btn-primary" /> |
                    <a class="btn btn-warning" asp-action="Index" asp-area="Client">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
