@{
    Layout = "_Layout";
}

<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="CustomerAddersses" asp-action="Index">CustomerAddersses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="DishCategory" asp-action="Index">DishCategorys</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Testimonials" asp-action="Index">Testimonials</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Table" asp-action="Index">Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Reservation" asp-action="Index">Reservations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="OrderType" asp-action="Index">OrderTypes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Order" asp-action="Index">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Order" asp-action="Index">OrderDishesRelController</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Ingerdient" asp-action="Index">Ingerdient</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="Dish" asp-action="Index">Dish</a>
    </li>
    <li></li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Client" asp-controller="DishIngredientsRel" asp-action="Index">DishIngredientsRel</a>
    </li>
</ul>
