@using static Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Order;
@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderState" class="control-label"></label>
                <input asp-for="OrderState" class="form-control" />
                <span asp-validation-for="OrderState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" asp-items="@Html.GetEnumSelectList<PaymentMethods>()" class="form-control"></select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OrderTypeId" class="control-label">OrderType</label>
                <select asp-for="OrderTypeId" class="form-control" asp-items="ViewBag.OrderTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerList"></select>
            </div>
            <div class="form-group">
                <label asp-for="FranchiseId" class="control-label">Franchise</label>
                <select asp-for="FranchiseId" class ="form-control" asp-items="ViewBag.FranchiseList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
