@using static Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Order;
@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.Order

@{
    ViewData["Title"] = "Create";
}

<div id="kt_app_toolbar_container" class="app-container container p-3 d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Create Order</h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
            <li class="breadcrumb-item text-muted">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="text-muted text-hover-primary">Home</a>
            </li>
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-400 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Create Order</li>
        </ul>
    </div>
</div>

<div id="kt_app_content" class="app-content container m-auto w-75 m-5 p-5">
        <div class="">
            <form asp-action="Create" class="w-100">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrderState" class="control-label"></label>
                    <input asp-for="OrderState" class="form-control" />
                    <span asp-validation-for="OrderState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentMethod" class="control-label"></label>
                    <select asp-for="PaymentMethod" asp-items="@Html.GetEnumSelectList<PaymentMethods>()" class="form-control"></select>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-group form-check my-3">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="OrderTypeId" class="control-label">OrderType</label>
                    <select asp-for="OrderTypeId" class="form-control" asp-items="ViewBag.OrderTypeList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label">Customer</label>
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FranchiseId" class="control-label">Franchise</label>
                    <select asp-for="FranchiseId" class="form-control" asp-items="ViewBag.FranchiseList"></select>
                </div>
                <div class="form-group my-5">

                    <input type="submit" value="Create" class="btn btn-primary" /> |
                    <a class="btn btn-warning" asp-action="Index" asp-area="Client">Back to List</a>
                </div>
            </form>
        </div>
</div>



@*<script>
    let select = document.getElementById("CustomerId")

    for (var i = 0; i < select.options.length; i++) {
        if (select.options[i].innerText != "Dine" ) {
            select.options[i].style.display = "none"
        }
    }
</script>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

