@model Resturant_RES_MVC_ITI_PRJ.Areas.Client.Models.OrderType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
